<main>
  <!-- <input type="text" [(ngModel)]="coords" />
  <button type="submit" (click)="onSubmit()">Send</button> -->

  <div class="error" *ngIf="error !== ''">
    <p>There was an error processing your request: {{ error }}</p>
  </div>

  <div *ngIf="loading" class="loading-bar">
    <p><em>Loading weather data...</em></p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <h3 *ngIf="location !== null">
    Weekly forecast for <em>{{ location.city }}, {{ location.state }}:</em>
  </h3>

  <section class="center panel-container" *ngIf="forecast.length > 0">
    <app-weather-panel
      *ngFor="let f of forecast"
      [forecast]="f"
    ></app-weather-panel>
  </section>

  <section
    class="location-error"
    *ngIf="forecast.length === 0 && !this.loading"
  >
    <app-location-display
      (loadingGeocode)="loading = true"
    ></app-location-display>
  </section>
</main>
