<main>
  <!-- <input type="text" [(ngModel)]="coords" />
  <button type="submit" (click)="onSubmit()">Send</button> -->

  <div *ngIf="loading" class="loading-bar">
    <p><em>Loading weather data...</em></p>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

  <h3 *ngIf="location !== null">
    Weekly forecast for <em>{{ location.city }}, {{ location.state }}:</em>
  </h3>

  <div class="panel-container" *ngIf="forecast.length > 0">
    <div class="center" *ngFor="let f of forecast">
      <app-weather-panel [forecast]="f"></app-weather-panel>
    </div>
  </div>
</main>
