main {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h3 {
  font-family: sans-serif;
  padding: 5px;
}

.panel-container {
  height: 300px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 5px;
}

app-weather-panel {
  width: 80%;
  height: -webkit-fill-available;
  display: inline-block;

  font-family: sans-serif;
  border: 1px solid black;
  border-radius: 3%;
  margin: 5px;
  padding: 5px;
}
