.weather-panel {
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
img {
  border-radius: 3px;
  opacity: 0.75;
}
.weather-panel button.clickable {
  display: block;
  position: absolute;
  z-index: 2;
}
